.current-page {
    height: 100%;
    position: relative;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 700ms $animation-curve-fast-out-slow-in;

    .background-gradient {
        background: radial-gradient(circle at center center, rgba(0, 0, 0, 0) 5vmin, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.9) 100%);
        position: absolute;
        top: -$footer-height;
        right: 0;
        bottom: -$footer-height;
        left: 0;

        transition: transform 700ms $animation-curve-fast-out-slow-in;
    }

    .content-wrap {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 700ms $animation-curve-fast-out-slow-in;

        img {
            z-index: 3;
            max-height: 70vh;

            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

            &.no-border {
                box-shadow: none;
            }
        }

        .details {
            position: relative;
            margin-top: 30px;

            &.light {
                .title {
                    color: rgba(0, 0, 0, .87);
                }

                .artists a {
                    color: rgba(0, 0, 0, .7);
                }
            }
        }

        .title {
            text-align: center;
            display: block;
            font-weight: 700;
            font-size: 30px;
            margin: 0 0 8px;
            position: relative;
            z-index: 2;
            color: rgba(0, 0, 0, .87);
            transition: color 700ms $animation-curve-fast-out-slow-in;
        }

        .artists {
            text-align: center;
            position: relative;
            z-index: 2;
            font-size: 20px;

            a {
                margin-right: 4px;
                color: rgba(0, 0, 0, .7);
                transition: color 700ms $animation-curve-fast-out-slow-in;

                &::after {
                    content: ',';
                    display: inline;
                }

                &:last-of-type {
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &.kiosk-mode {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #000;
        margin-bottom: -$footer-height;

        .content-wrap {
            transform: translateY(-($footer-height / 2));
        }

        .background-gradient {
            transform: translateY(-($footer-height / 2));
        }

        .title {
            color: #eee;
        }

        .artists a {
            color: #aaa;
        }

        .details {
            &::after {
                background: radial-gradient(ellipse at top center, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 70%);
            }
        }

        &.idle-mode {
            .content-wrap {
                transform: none;
            }
            .background-gradient {
                transform: none;
            }
        }
    }
}
