.current-page {
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .background {
        transition: opacity 2s linear;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }

    .content-wrap {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 700ms $animation-curve-fast-out-slow-in;

        img {
            z-index: 3;
            max-height: 70vh;
        }

        .details {
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -100px;
                bottom: -40px;
                left: -100px;
                background: radial-gradient(ellipse at top center, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0) 70%);
                pointer-events: none;
            }
        }

        .title {
            text-align: center;
            display: block;
            font-weight: 700;
            font-size: 22px;
            margin: 10px 0 8px;
            position: relative;
            z-index: 2;
        }

        .artists {
            text-align: center;
            position: relative;
            z-index: 2;

            a {
                margin-right: 4px;
                color: $color-text;

                &::after {
                    content: ',';
                    display: inline;
                }

                &:last-of-type {
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &.kiosk-mode {
        background-color: #000;

        .content-wrap {
            transform: translateY(-($footer-height / 2));
        }

        .title {
            color: #eee;
        }

        .artists a {
            color: #aaa;
        }

        .details {
            &::after {
                background: radial-gradient(ellipse at top center, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 70%);
            }
        }

        &.idle-mode {
            .content-wrap {
                transform: none;
            }
        }
    }
}