.up-next {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 10px 15px 20px;
    min-width: 350px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 700ms $animation-curve-fast-out-slow-in;
    z-index: 2;
    display: flex;
    flex-flow: row;

    h5 {
        margin-top: 0;
        font-size: 20px;
        z-index: 2;
        position: relative;
        color: #ddd;
    }


    .album-art {
        flex: 0 0 auto;
        margin: -15px 0 -15px -20px;
    }

    .details {
        margin: 4px 20px 4px 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        max-width: calc(100% - 90px);
    }

    .title {
        font-size: 16px;
        padding-bottom: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #eee;
    }

    .artists {
        font-size: 14px;
        a {
            margin-right: 4px;
            color: #bbb;

            &::after {
                content: ',';
                display: inline;
            }

            &:last-of-type {
                margin-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }

    &.idle-mode {
        transform: translateX(calc(100% + 10px));
    }

    &.kiosk-mode {
        top: 50px;
        bottom: auto;
    }
}
