.up-next {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 10px 15px 20px;
    min-width: 350px;
    background: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 700ms $animation-curve-fast-out-slow-in;

    h5 {
        margin-top: 0;
        font-size: 20px;
        z-index: 2;
        position: relative;
    }

    .container {
        position: relative;
        z-index: 2;
        display: flex;
    }

    .details {
        margin: 4px 20px 4px 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        font-size: 16px;
        padding-bottom: 6px;
    }

    .artists {
        font-size: 14px;
        a {
            margin-right: 4px;
            color: $color-text-secondary;

            &::after {
                content: ',';
                display: inline;
            }

            &:last-of-type {
                margin-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }

    &.idle-mode {
        transform: translateX(100%);
    }

    &.kiosk-mode {
        bottom: $footer-height;
        background: rgba(255, 255, 255, 0.2);

        h5 {
            color: #ddd;
        }

        .title {
            color: #eee;
        }

        .artists a {
            color: #bbb;
        }
    }
}