a.link {
    color: inherit;
    margin-right: 4px;

    &::after {
        content: ', ';
        display: inline;
        color: $palette-grey-800;
    }

    &:last-of-type::after {
        display: none;
    }
}

.list {
    border-collapse: collapse;
    tr {
        border-bottom: solid 1px rgba(0, 0, 0, 0.045);
        .art {
            cursor: pointer;
            &::after {
                display: block;
                content: 'add';
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 38px;
                height: 38px;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                border: 1px solid $color-divider;

                transition: opacity 250ms linear;
                text-align: center;
                color: $color-divider;

                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: normal;
                text-transform: none;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
            }
        }

        &:hover .art {
            &::after {
                opacity: 1;
            }

            &:hover::after {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
