.footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    background: white;
    transition: transform 700ms $animation-curve-fast-out-slow-in;

    z-index: $z-index-higher;

    &.kiosk-mode {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
    }

    &.idle-mode {
        transform: translateY($footer-height - 4px);
    }
}
