.footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    background: rgba(255, 255, 255, 0.5);
    transition: transform 700ms $animation-curve-fast-out-slow-in;

    z-index: 1001;

    &.kiosk-mode {
        background: rgba(255, 255, 255, 0.3);

        &.idle-mode {
            transform: translateY($footer-height - 4px);
        }
    }

}
