@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/mixins";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;

$play-queue-show-width: 850px;
$play-queue-width-large-size: 1100px;

$play-queue-width: 250px;
$play-queue-width-large: 350px;

$play-queue-open-width: 500px;
$play-queue-open-width-large: 650px;

$footer-height: 90px;
