.current-track {
    flex: 2;
    display: flex;

    .info-wrap {
        display: none;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        @media (min-width: 500px) {
            display: flex;
        }

        .title {
            margin: 0 0 6px 0;
        }

        .details-wrap {
            font-size: 14px;

            .separator {
                padding: 0 4px;
            }

            .artists a {
                margin-right: 4px;

                &::after {
                    content: ',';
                    display: inline;
                }

                &:last-of-type {
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }

            a, span {
                color: $color-text-secondary;
            }
        }
    }

    &.kiosk-mode {
        .title {
            color: #eee;
        }

        .details-wrap {
            a, span {
                color: #bbb;
            }
        }
    }
}
