.player-progress {
    position: absolute;
    top: 0;
    right: 0;
    left: 90px;
}

.container {
    margin: 0 -1.6rem;
    width: 100%;
    cursor: pointer;
    height: 20px;

    .knob {
        opacity: 0;
        top: -1.5rem !important;
    }

    .progress, .innerprogress {
        top: 0 !important;
        height: 4px !important;
    }

    .innerprogress {
        background: $palette-grey-300;
    }

    &:hover, &:active {
        .knob {
            opacity: 1;
        }
    }

}

.label {
    position: absolute;
    right: 5px;
    top: 5px;
    @media (min-width: 850px) {
        top: 10px;
        right: 10px;
    }
    font-size: 13px;
    color: $palette-grey-600;
}
